body {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    line-height: 34px;
    color: black;
    background-image: url(../images/congruent_pentagon.png);
  }
  
* {
    box-sizing: border-box;
  }

.jumbotron {
    opacity: .8;
    font-family: 'Crafty Girls', cursive;
    padding: 0px;
    margin: 0px;
    background-color: #b1f6cb;
}

img {
    width: 100px;
    height: 200px;
}

.btn {
    /* background:#b1f6cb; */
    margin: 30px;
}

button {
    margin: 30px;
}

.container {
    background: url(../images/tree_bark.png);
    opacity: .75;
    width: 900px;
    height: 300px;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
    border: 1px solid black;
}

#rules {
    font-family: 'Handlee', cursive;
    text-align: left;
    margin-left: 50px;
}