body {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    line-height: 34px;
    color: black;
    background-image: url(../images/congruent_pentagon.png);
  }
  
* {
    box-sizing: border-box;
  }

.jumbotron {
    opacity: .7;
    font-family: 'Crafty Girls', cursive;
    padding: 0px;
    margin: 0px;
    background-color: #b1f6cb;
    border-bottom: 7px solid #fcf58d;
}
.navbar {
    font-family: 'Crafty Girls', cursive;
    opacity: .85;
    text-align: center;
    background-color:#343a40 ;
    border-bottom: 7px solid #fcf58d;
    color: #fcf58d;
}

img {
    width: 100px;
    height: 200px;
}


.card {
    height: 210px; 
    margin-top: 30px;
    opacity: .75;
    width: 160px;
}

.btn {
    margin: 30px;
}

button {
    margin: 30px;
}


#rules {
    font-family: 'Handlee', cursive;
    text-align: left;
    margin-left: 50px;
}

h3 {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    margin-top: 10px;
    font-size: 36px;
}

h4 {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    margin-top: 10px;
}